/* -------------------------> GLOBAL <------------------------- */
body{
    background-color:rgb(255, 255, 255);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}
/* -------------------------> HEADER <------------------------- */

/* -------------------------> LEFT SIDEBAR <------------------------- */
.fas,.far{
    width: 25%;
}
.logo{
    padding: 1rem;
}
.left-sidebar-content{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    width: 100%;
}
.left-sidebar-content a{
    text-decoration: none;
    color: black;
}
.left-sidebar-content div{
    padding: 1rem;
    width: 100%;
}
.left-sidebar-content div:hover{
    background-color:rgba(15, 20 , 25 , 0.1);
    border-radius: 30px;
    cursor:pointer;  
}
.btn.btn-primary{
    margin-top: 1.5rem;
    font-size: 2rem;
    border-radius: 30px;
    width: 100%;
    background-color: rgb(29, 155, 240);
}

/* -------------------------> LEFT SIDEBAR <------------------------- */
.search{
    max-width: 85%;
    margin-top: 1.5rem;
}
.search input{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.search .btn{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px ;
}
.trends{
    background-color: rgb(245, 248, 250);
    max-width: 85%;
    border-radius: 20px;
    padding: 25px;
}
.trends .heading{
    margin-bottom: 2rem;
}
.trends .content{
    margin-bottom: 1.5rem;
}
.trends .content p{
    margin: 0;
}
.trends .content h4{
    margin:0;
}
/* -------------------------> MAIN <------------------------- */
.main-feed h1{
    margin-bottom: 5rem;
}
/* -------------------------> FOOTER <------------------------- */
